/* style.css */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #333;
}

/* 必须为地图容器设置一个高度 */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}